.footer {
    margin-top: 3rem !important;
    background-color: #f5f5f5;
    bottom: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    color: rgb(177, 171, 171);
    text-align: center;
}

.login-body {
    display: flex;
}

.login-card {
    width: 50rem !important;
    height: 30rem !important;
    background: rgb(232, 230, 230);
    display: flex;
    margin: auto auto;
    justify-content: space-evenly;
    align-items: center;
    border: 0.5px solid rgba(0, 0, 0, 0.415);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.login-icon-side img {
    width: 15em;
    height: 15em;
    margin: 3%;
    border-radius: 50%;
}


.login-form-side {
    padding: 30px;
    background: #b8b5b550;
    border-radius: 10%;

}

.login-form-side input {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.468);
    width: 90%;
    margin: 5% 3%;
    outline: none;
    background-color: transparent;
}

.login-form-side input:focus {
    border-width: 0 0 1px 0;
    border-style: solid;
}

.login-form-side label {
    margin: 2%;
    font-weight: bold;
}


.login-form-side p {
    text-align: center;
    color: #000;
    font-weight: bold;
    font-family: "BIZ UDMincho";
    margin-bottom: 15%;
}

body {
    position: relative;
    overflow-x: hidden;
    height: 100%;
    background-color: #CFD8DC !important;
}

html {
    height: 100%;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    background-color: transparent;
}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    height: 20px;
    padding-top: 70px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.navbar {
    padding: 0;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
    -moz-transition: width .2s ease-in;
    -ms-transition: width .2s ease-in;
    transition: width .2s ease-in;

}

.sidebar-nav li:first-child a {
    color: #fff;
    background-color: #1a1a1a;
}

.sidebar-nav li:nth-child(5n+1):before {
    background-color: #ec1b5a;
}

.sidebar-nav li:nth-child(5n+2):before {
    background-color: #79aefe;
}

.sidebar-nav li:nth-child(5n+3):before {
    background-color: #314190;
}

.sidebar-nav li:nth-child(5n+4):before {
    background-color: #279636;
}

.sidebar-nav li:nth-child(5n+5):before {
    background-color: #7d5d81;
}

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
    -moz-transition: width .2s ease-in;
    -ms-transition: width .2s ease-in;
    transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-header {
    text-align: center;
    font-size: 20px;
    position: relative;
    width: 100%;
    display: inline-block;
}

.sidebar-brand {
    height: 65px;
    position: relative;
    background: #212531;
    background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
    padding-top: 1em;
}

.sidebar-brand p {
    color: #ddd;
}

.sidebar-brand a {
    color: #ddd;
}

.sidebar-brand a:hover {
    color: #fff;
    text-decoration: none;
}

.dropdown-header {
    text-align: center;
    font-size: 1em;
    color: #ddd;
    background: #212531;
    background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
}

.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}

.dropdown-menu.show {
    top: 0;
}

/*Fontawesome icons*/
.nav.sidebar-nav li a::before {
    font-family: fontawesome;
    content: "\f110 ";
    vertical-align: baseline;
    display: inline-block;
    padding-right: 5px;
}

.nav.sidebar-nav .home a::before {
    content: "\f015" !important;
}

.nav.sidebar-nav .realtime a::before {
    content: "\f478" !important;
}

.nav.sidebar-nav .all_ekg a::before {
    content: "\f21e" !important;
    color: rgb(247, 167, 167);
}

.nav.sidebar-nav .select_person a::before {
    content: "\e592" !important;
}


/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
    position: fixed;
    top: 20px;
    z-index: 999;
    display: block;
    width: 32px;
    height: 32px;
    margin-left: 15px;
    background: transparent;
    border: none;
}

.hamburger:hover,
.hamburger:focus,
.hamburger:active {
    outline: none;
}

.hamburger.is-closed:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    position: absolute;
    left: 0;
    height: 4px;
    width: 100%;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
    background-color: #1a1a1a;
}

.hamburger.is-closed .hamb-top {
    top: 5px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-middle {
    top: 50%;
    margin-top: -2px;
}

.hamburger.is-closed .hamb-bottom {
    bottom: 5px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
    top: 0;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-bottom {
    bottom: 0;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    background-color: #1a1a1a;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
    top: 50%;
    margin-top: -2px;
}

.hamburger.is-open .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
}

.hamburger.is-open .hamb-middle {
    display: none;
}

.hamburger.is-open .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
}

.hamburger.is-open:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250, 250, 250, .8);
    z-index: 1;
}

#chartSide {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: large;

}

#videoSide {
    text-align: center;
    position: sticky;
    font-family: 'Raleway', sans-serif;
    font-size: large;


}

#videoSide #vCall {
    width: 100%;
    height: 25rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#videoSide .vChatLabel {
    margin-top: 9rem;
}

#videoSide #vChat {
    background: url(../media/chatBg.jpeg);

}

.navbar .sidebar-user {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
    min-height: 25px;
    width: 100%;
    background: rgb(91, 81, 81);
    position: absolute;
    bottom: 0px;
    cursor: pointer;
}

#videoSide #vChat {
    margin-top: 0vh;
    width: 100%;
    height: 41.3rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    contain: content;
    overflow-y: auto;

}




.navbar .sidebar-user:hover {
    color: rgb(0, 0, 0);
    background-color: #79aefe;
}

#messages {
    padding-bottom: 30%;
    padding-top: 5%;
    padding-right: 5%;
}

@keyframes chatmsgAnim {
    0% {
        animation-timing-function: ease-in;
        opacity: 1;
        transform: translateY(45px);
    }

    24% {
        opacity: 1;
    }

    40% {
        animation-timing-function: ease-in;
        transform: translateY(24px);
    }

    65% {
        animation-timing-function: ease-in;
        transform: translateY(12px);
    }

    82% {
        animation-timing-function: ease-in;
        transform: translateY(6px);
    }

    93% {
        animation-timing-function: ease-in;
        transform: translateY(4px);
    }

    25%,
    55%,
    75%,
    87% {
        animation-timing-function: ease-out;
        transform: translateY(0px);
    }

    100% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateY(0px);
    }
}

#chatMsg {
    list-style-type: none;
    margin-bottom: 10px;
    background-color: #6929ca70;
    padding: 3px;
    border-radius: 10px;
    color: rgb(252, 252, 252);
    width: 50%;
    animation: chatmsgAnim 2s ease 0s 1 normal forwards;
}

#chatMsg span {
    font-style: italic;
    color: #000000;
}

#chat {
    width: 80%;
    margin: auto;
}

#message-form {
    position: fixed;
    left: 0;
    bottom: -370pt !important;
    width: 100%;
    padding: 0 10px;
}

.stopBtn {
    width: 100%;
    position: absolute;
    bottom: 0;
}


.sent {
    text-align: left;
    background-color: #a79cb3;
    margin-left: 50%;
}

.sent span {
    margin-left: 3px;
    color: #6929ca;
}

.receive {
    text-align: left !important;
    background-color: #eb7531 !important;
}

#page-content-wrapper .path {
    position: absolute;
    right: 2em;
    top: 2em;
    font-weight: bold;
    background: white;
    color: #4e5052;
    opacity: 0.7;
    padding: 1em;
    border-radius: 7%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

@keyframes callAnimation {
    0% {
        animation-timing-function: ease-in;
        opacity: 1;
        transform: translateY(-45px);
    }

    24% {
        opacity: 1;
    }

    40% {
        animation-timing-function: ease-in;
        transform: translateY(-24px);
    }

    65% {
        animation-timing-function: ease-in;
        transform: translateY(-12px);
    }

    82% {
        animation-timing-function: ease-in;
        transform: translateY(-6px);
    }

    93% {
        animation-timing-function: ease-in;
        transform: translateY(-4px);
    }

    25%,
    55%,
    75%,
    87% {
        animation-timing-function: ease-out;
        transform: translateY(0px);
    }

    100% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateY(0px);
    }
}

#wrapper .callAlert {
    font-weight: bold;
    animation: callAnimation 4s ease 0s 1 normal forwards;
    width: 70%;
    height: 15vh;
    margin: -5rem auto;
}


#wrapper .divBtn {
    display: flex;
    justify-content: space-evenly;
}

#wrapper .acceptBtn {
    font-weight: bold;
}

#wrapper .declineBtn {
    font-weight: bold;

}

.active {
    background: rgb(212, 132, 132);
}

.primary-video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.secondary-video {
    position: absolute;
    max-width: 30%;
    width: 30%;
    margin: 16px;
    border-radius: 16px;
}

.panel {
    background-color: #7a97b9;
    width: 100%;
    height: 5vh;
}

.panel p {
    font-family: 'Raleway', sans-serif;
    font-size: large;
}

.personName {
    background: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    min-width: 50px;
    max-width: fit-content;
    height: 50px;
    word-wrap: break-word;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    border: 2px solid red;
}


/* .icn::before {
    color: #ff0000;
    font-variant: small-caps;
    font-family: fontawesome;
    content: "\f80d ";

} */
.sick-person-icon {
    display: flex;
    align-items: center;
    position: relative;
    left: 50%;
    bottom: 50%;
    font-size: x-large;
}