{% extends 'base.html' %}
{%load static%}

{% block title %}To Do | APP {% endblock %}
{% block content %}

<style>
    .completed {
        text-decoration: line-through;
    }
</style>

<body>

    <div class="card w-50 d-flex justify-content-center align-content-center taskCard" style="margin:1% auto;">
        <div class="card-header text-center">
            TO DO APP
        </div>
        <div class="card-body" id="card">
            <div class="d-flex justify-content-center align-items-center">
                <input class="input-group m-2" type="text" name="addTodo" id="todos" style="height:2.5rem ;">
                <button class="btn btn-warning" onclick="addTask('{{user.id}}','{{csrf_token}}')"><i class="fa fa-plus"
                        aria-hidden="true" style="color: white;"></i></button>
            </div>
            {% if list %}
            <table class="table table-striped" id="taskTable">
                {% for todo in list %}
                <tr class="justify-content-space">
                    <td class="{% if todo.completed == True %} completed {% endif %}">
                        {{todo.task}} </td>
                    <td class="d-flex justify-content-end">
                        {% if todo.completed %}
                        <button class="btn btn-warning" onclick="editTask('{{todo.id}}','{{todo.task}}')"
                            id="{{todo.id}}" disabled><i class="fa fa-pencil text-light"
                                aria-hidden="true"></i></button>
                        <button class="btn btn-success mx-3" onclick="completeTask('{{todo.id}}','{{todo.task}}')"
                            id="{{todo.id}}" disabled><i class="fa fa-check" aria-hidden="true"></i></button>
                        {% else %}
                        <button class="btn btn-warning" onclick="editTask('{{todo.id}}','{{csrf_token}}')"
                            id="{{todo.id}}"><i class="fa fa-pencil text-light" aria-hidden="true"></i></button>
                        <button class="btn btn-success mx-3"
                            onclick="completeTask('{{todo.id}}','{{todo.task}}','{{csrf_token}}')" id="{{todo.id}}"><i
                                class="fa fa-check" aria-hidden="true"></i></button>
                        {% endif %}
                        <button class="btn btn-danger" onclick="deleteTask('{{todo.id}}','{{csrf_token}}')"><i
                                class="fa fa-trash" aria-hidden="true"></i></button>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-center align-items-center">
                <button class="btn btn-danger" onclick="deleteAll( '{{csrf_token}}')">Delete All</button>
            </div>
        </div>
    </div>
    <footer class="bg-light" style="position: absolute; bottom:0rem; width:100%">
        <div class="d-flex justify-content-center align-items-center">
            <p class="text-center">&copy; 2022</p>
    </footer>
</body>
<script src="{% static 'js/crud.js' %}"></script>
{% endblock %}

</html>